@import 'variables';

.badge {
  position: relative;
  display: inline-block;
  color: $white;
  padding: 4px 8px;
  text-transform: uppercase;
  font-size: $h9;
  font-weight: $font-weight-bold;
  border-radius: $radius-normal;
  margin-left: 8px;

  &.success {
    background: $success;
  }

  &.danger {
    background: $danger;
  }

  &.info {
    background: $info;
  }

  &.warning {
    background: $warning;
  }

  &.gray {
    background: $gray-50;
  }
}

.badge-counter {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: $h9;
  font-weight: $font-weight-bold;
  margin-left: 8px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  padding: 10px;
  background: $primary;

  &.empty {
    background: $basic;
  }
}