@import "variables";

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  border: 0;
  border-radius: 50px;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 0 0 0 0 transparent;
  text-decoration: none;
  font-size: $h8;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;

  // Buttons sizes

  &.btn-lg {
    font-size: $h5;
    padding: 12px 30px;
  }

  &.btn-sm {
    font-size: $h9;
    padding: 8px 15px;
  }

  &.btn-xs {
    font-size: $h10;
    padding: 6px 15px;
  }

  // Button primary

  &.btn-primary {
    color: #ffffff;
    background-color: $primary;

    &:hover {
      background-color: darken($primary, 10);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem transparentize($primary, 0.5);
    }
  }

  // Button secondary

  &.btn-secondary {
    color: #ffffff;
    background-color: $secondary;
    border: 2px solid $secondary;

    &:hover {
      color: $secondary;
      background-color: #ffffff;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem transparentize($secondary, 0.5);
    }
  }

  // Button dark

  &.btn-dark {
    color: $gray-10;
    background-color: $basic;
    border: 0;

    &:hover {
      background-color: lighten($basic, 20%);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem transparentize($basic, 0.5);
    }
  }

  // Button gray

  &.btn-gray {
    color: $basic;
    background-color: $gray-30;
    border: 2px solid $gray-30;

    &:hover {
      background-color: $gray-10;
      border-color: $basic;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem transparentize($basic, 0.5);
    }
  }
}

.btn-square {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

button:disabled,
button[disabled],
input[disabled] {
  background-color: $gray-50 !important;
  color: $white !important;
  border-color: $gray-50 !important;
}