@import "variables";

.active-dialog {
  * {
    filter: blur(5px);
  }

  .dialog {
    &, * {
      filter: none !important;
    }
  }
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000f0;
  opacity: 1;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
  z-index: 999;

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 600px;
    margin: 0;
    padding: 15px;
    background: transparent;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .content {
      background: $white;
      padding: 20px;

      .heading {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        .title {
          text-align: center;
          font-weight: $font-weight-bold;
          font-size: $h4;
        }

        .close {
          i {
            font-size: $h3;
            cursor: pointer;
            -webkit-transition: color 300ms;
            -moz-transition: color 300ms;
            -ms-transition: color 300ms;
            -o-transition: color 300ms;
            transition: color 300ms;

            &:hover {
              color: $danger;
            }
          }
        }
      }
    }

    .next-step {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      padding-top: 15px;
    }
  }
}

.taste {
  position: fixed;
  display: block;
  top: 15px;
  left: 50%;
  color: $white;
  border-radius: $radius-normal;
  box-shadow: $shadow-normal;
  padding: 5px 10px 5px 10px;
  transform: translate(-50%, 0%);
  animation: 600ms ease-out 0s 1 slideInFromLeft;
  opacity: 1;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;

  &.success {
    background-color: $success;
  }

  &.danger {
    background-color: $danger;
  }

  &.info {
    background-color: $info;
  }

  &.warning {
    background-color: $warning;
  }

  i {
    font-size: $h5;
    vertical-align: sub;
  }

  span {
    font-size: $h7 !important;
  }

  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translate(-50%, -200%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, 0%);
    }
  }
}

.hide {
  opacity: 0;
}