@import "variables";

.text-primary {
  color: #0040e0 !important;
}

.text-white {
  color: #ffffff;
}

.text-dark {
  color: #0c0b18;
}

.bg-primary {
  background-color: #0040e0;
}

.bg-primary-gradient {
  background: linear-gradient(to right top, #004eff, #145bfe, #2868fb, #3973f8, #4a7ef4);
}

.shadow {
  box-shadow: 0 0 20px #00000010;
}

.shadow-none {
  box-shadow: none;
}