@import "variables";

.text-white {
  color: $white;
}

.text-dark {
  color: $basic;
}

.text-primary {
  color: $primary !important;
}

.text-success {
  color: $success;
}

.text-warning {
  color: $warning;
}

.text-danger {
  color: $danger;
}

.bg-primary {
  background-color: $primary;
}

.bg-success {
  background-color: $success;
}
.bg-danger {
  background-color: $danger;
}
.bg-info {
  background-color: $info;
}
.bg-warning {
  background-color: $warning;
}

.bg-primary-gradient {
  background: linear-gradient(to right top, #004eff, #145bfe, #2868fb, #3973f8, #4a7ef4);
}

.shadow {
  box-shadow: 0 0 20px #00000010;
}

.shadow-none {
  box-shadow: none;
}