@import 'variables';

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: $radius-normal;
  overflow: hidden;

  .vat {
    vertical-align: top;
  }

  .vam {
    vertical-align: middle;
  }

  .vab {
    vertical-align: bottom;
  }

  th, td {
    padding: 10px 15px;
  }

  thead {
    background: $basic;

    tr {
      padding: 20px;

      th {
        font-weight: $font-weight-light;
        text-align: left;
        font-size: $h7;
        color: $white;
      }
    }
  }

  tbody {
    background: $gray-10;
    tr {
      border-bottom: 1px solid $gray-20;
    }
  }
}