@import "variables";
@import "texts";
@import "reset";
@import "spacings";
@import "styles";
@import "nav";
@import "form";
@import "buttons";
@import "grids";
@import "dialogs";
@import "pagination";
@import "table";
@import "badge";

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: $basic;
  background-color: $gray-10;
  overflow-y: scroll;

  &.body-simplify {
    height: 100vh;
  }
}

/* Container */

.container,
.container-narrow,
.container-wide {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  max-width: 1200px;
}

.container-narrow {
  max-width: 800px;
}

.container-wide {
  max-width: 100%;
}

// Holders

.page-content-holder,
.page-content-holder-wide {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-content-holder {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  grid-gap: 20px;
}

.page-content-holder-wide {
  width: 100%;
}

.content-holder {
  background: $white;
  border-radius: $radius-big;
  border: 1px solid $gray-20;
  overflow: hidden;
}

.content {
  padding: 20px;
}

aside {

}

.segment {
  .segment-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    p {
      margin: 0;
    }
  }
}

// Finder

.finder {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray-20;
  //background-color: $gray-10;

  .form-group {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;

    input[type=text] {
      background-color: transparent;
      border: none;
      height: 50px;
      padding-left: 40px;
      font-size: $h6;
    }

    i {
      color: $gray-50;
      -webkit-transition: color 300ms;
      -moz-transition: color 300ms;
      -ms-transition: color 300ms;
      -o-transition: color 300ms;
      transition: color 300ms;
    }

    input:focus + i {
      color: $primary;
    }
  }

  input[type=submit] {
    border-radius: 0;
  }
}

/* Media */

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 762px) {
}

@media (max-width: 576px) {
}