@import url("https://fonts.googleapis.com/css?family=Material+Icons|Lato:400,700|Merriweather:400,700&subset=latin-ext");
.h0 {
  font-size: 2.9rem !important;
}

.h1 {
  font-size: 2.5rem !important;
}

.h2 {
  font-size: 2rem !important;
}

.h3 {
  font-size: 1.6rem !important;
}

.h4 {
  font-size: 1.4rem !important;
}

.h5 {
  font-size: 1.2rem !important;
}

.h6 {
  font-size: 1rem !important;
}

.h7 {
  font-size: 0.9rem !important;
}

.h8 {
  font-size: 0.8rem !important;
}

.h9 {
  font-size: 0.7rem !important;
}

.h10 {
  font-size: 0.6rem !important;
}

a {
  color: #004eff;
  text-decoration: none;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}
a:hover {
  color: #004eff;
}
a.link-gray {
  color: #a5a5a5;
}
a.link-gray:hover {
  color: #737373;
}
a.basket-link {
  color: #222222;
}
a.basket-link i {
  font-size: 1rem;
  vertical-align: text-bottom;
  margin-right: 4px;
}
a.basket-link:hover {
  color: black;
}

a.text-decoration {
  text-decoration: underline;
}

a.link-primary {
  color: #004eff;
}
a.link-primary:hover {
  color: #002f99;
}

a.link-secondary {
  color: #e4be00;
}
a.link-secondary:hover {
  color: #7e6900;
}

a.link-success {
  color: #48b750;
}
a.link-success:hover {
  color: #2b6e30;
}

a.link-danger {
  color: #e22c3d;
}
a.link-danger:hover {
  color: #941420;
}

a.link-info {
  color: #004eff;
}
a.link-info:hover {
  color: #002f99;
}

a.link-warning {
  color: #f2911c;
}
a.link-warning:hover {
  color: #9f5b09;
}

hr {
  border: 0;
  border-top: 1px solid #e1e1e1;
  height: 0;
}

p {
  line-height: 1.6rem;
}

p i,
span i {
  vertical-align: middle;
  font-size: 1rem !important;
}

.font-special {
  font-family: "Merriweather", serif;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.font-weight-light {
  font-weight: 200;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 600;
}

.font-weight-bolder {
  font-weight: 700;
}

ol.rules {
  text-align: justify;
  margin: 10px 0 30px 0;
}

ol.rules li {
  text-align: justify;
  margin: 20px 0;
}

ol.rules ul {
  list-style-type: lower-latin;
}

.text-primary {
  color: #004eff;
}

.text-secondary {
  color: #e4be00;
}

.text-basic {
  color: #222222;
}

.text-muted {
  color: #cdcdcd;
}

.text-gray-00 {
  color: #fafafa;
}

.text-gray-10 {
  color: #f5f5f5;
}

.text-gray-20 {
  color: #ebebeb;
}

.text-gray-30 {
  color: #e1e1e1;
}

.text-gray-40 {
  color: #d7d7d7;
}

.text-gray-50 {
  color: #cdcdcd;
}

.text-gray-60 {
  color: #b9b9b9;
}

.text-gray-70 {
  color: #a5a5a5;
}

.text-gray-80 {
  color: #919191;
}

.text-gray-90 {
  color: #737373;
}

.text-black {
  color: #000000;
}

.text-white {
  color: #ffffff;
}

* {
  box-sizing: border-box;
  outline: none;
}

.nil {
  display: none;
}

.clearfix {
  clear: both;
}

.my-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 50px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-5 {
  margin-top: 50px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-0 {
  margin-top: 0;
}

.mx-5 {
  margin-left: 50px;
  margin-right: 50px;
}

.mx-4 {
  margin-left: 40px;
  margin-right: 40px;
}

.mx-3 {
  margin-left: 30px;
  margin-right: 30px;
}

.mx-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-1 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mr-5 {
  margin-right: 50px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-0 {
  margin-right: 0;
}

.ml-5 {
  margin-left: 50px;
}

.ml-4 {
  margin-left: 40px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-0 {
  margin-left: 0;
}

.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pb-5 {
  padding-bottom: 50px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-0 {
  padding-bottom: 0;
}

.pt-5 {
  padding-top: 50px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-0 {
  padding-top: 0;
}

.px-5 {
  padding-left: 50px;
  padding-right: 50px;
}

.px-4 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.pr-5 {
  padding-right: 50px;
}

.pr-4 {
  padding-right: 40px;
}

.pr-3 {
  padding-right: 30px;
}

.pr-2 {
  padding-right: 20px;
}

.pr-1 {
  padding-right: 10px;
}

.pr-0 {
  padding-right: 0;
}

.pl-5 {
  padding-left: 50px;
}

.pl-4 {
  padding-left: 40px;
}

.pl-3 {
  padding-left: 30px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-1 {
  padding-left: 10px;
}

.pl-0 {
  padding-left: 0;
}

.text-white {
  color: #ffffff;
}

.text-dark {
  color: #222222;
}

.text-primary {
  color: #004eff !important;
}

.text-success {
  color: #48b750;
}

.text-warning {
  color: #f2911c;
}

.text-danger {
  color: #e22c3d;
}

.bg-primary {
  background-color: #004eff;
}

.bg-success {
  background-color: #48b750;
}

.bg-danger {
  background-color: #e22c3d;
}

.bg-info {
  background-color: #004eff;
}

.bg-warning {
  background-color: #f2911c;
}

.bg-primary-gradient {
  background: linear-gradient(to right top, #004eff, #145bfe, #2868fb, #3973f8, #4a7ef4);
}

.shadow {
  box-shadow: 0 0 20px #00000010;
}

.shadow-none {
  box-shadow: none;
}

.navbar {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
}
.navbar .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar .logo {
  font-family: "Merriweather", serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar .logo a {
  color: #222222;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}
.navbar .logo a:hover {
  color: #004eff;
}
.navbar .logo a * {
  margin: 0;
}

header.simple .navbar {
  background-color: transparent;
  border: 0;
}
header.simple .navbar .logo a {
  color: #ffffff;
}

nav.navigation-vertical ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.navigation-vertical ul li {
  position: relative;
  margin: 3px 0;
}
nav.navigation-vertical ul li a {
  color: #a5a5a5;
  font-size: 0.9rem;
  font-weight: 400;
  border-bottom: 2px;
  text-decoration: none;
  transition: color 300ms;
}
nav.navigation-vertical ul li a:hover {
  color: #004eff;
}
nav.navigation-vertical ul li a i {
  vertical-align: text-top;
  font-size: 1.2rem;
  margin-right: 5px;
}
nav.navigation-vertical.nav-primary ul li a {
  color: #222222;
  font-weight: 600;
}
nav.navigation-vertical.nav-primary ul li a:hover {
  color: #004eff;
}
nav.navigation-vertical.nav-primary ul li.active a {
  color: #004eff;
}
nav.navigation-horizontal ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.navigation-horizontal ul li {
  position: relative;
  margin: 0 20px;
}
nav.navigation-horizontal ul li a {
  color: #000000;
  font-size: 0.9rem;
  font-weight: bold;
  border-bottom: 2px;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 0;
  transition: color 300ms;
}
nav.navigation-horizontal ul li a:hover {
  color: #0040e0;
}
nav.navigation-horizontal ul li.active a {
  color: #0040e0;
}
nav.navigation-horizontal ul li.active a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background-color: #0040e0;
  border-radius: 50px;
}

input {
  color: #222222;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  -ms-transition: border-color 300ms;
  -o-transition: border-color 300ms;
  transition: border-color 300ms;
}
input:hover, input:focus {
  border-color: #004eff;
  box-shadow: 0 0 8px #e6edff;
}

.form-group {
  position: relative;
  margin: 15px 0;
}
.form-group i {
  font-size: 20px;
  position: absolute;
  color: #878787;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}
.form-group i + input {
  padding-left: 40px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  margin: 0;
}
.form-group label {
  display: block;
  color: #222222;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.form-group span.info {
  font-size: 0.7rem;
  color: #919191;
}

.from-checkbox {
  display: flex;
  text-align: left;
}
.from-checkbox input {
  margin: 3px 10px;
  width: auto;
}
.from-checkbox label {
  font-weight: 400;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  border: 0;
  border-radius: 50px;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 0 0 0 0 transparent;
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.btn.btn-lg {
  font-size: 1.2rem;
  padding: 12px 30px;
}
.btn.btn-sm {
  font-size: 0.7rem;
  padding: 8px 15px;
}
.btn.btn-xs {
  font-size: 0.6rem;
  padding: 6px 15px;
}
.btn.btn-primary {
  color: #ffffff;
  background-color: #004eff;
}
.btn.btn-primary:hover {
  background-color: #003ecc;
}
.btn.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 78, 255, 0.5);
}
.btn.btn-secondary {
  color: #ffffff;
  background-color: #e4be00;
}
.btn.btn-secondary:hover {
  background-color: #cba900;
}
.btn.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(228, 190, 0, 0.5);
}
.btn.btn-danger {
  color: #ffffff;
  background-color: #e22c3d;
}
.btn.btn-danger:hover {
  background-color: #d71e2f;
}
.btn.btn-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(226, 44, 61, 0.5);
}
.btn.btn-warning {
  color: #ffffff;
  background-color: #f2911c;
}
.btn.btn-warning:hover {
  background-color: #e7840d;
}
.btn.btn-warning:focus {
  box-shadow: 0 0 0 0.2rem rgba(242, 145, 28, 0.5);
}
.btn.btn-light {
  color: #222222;
  background-color: #ffffff;
}
.btn.btn-light:hover {
  background-color: white;
}
.btn.btn-light:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.btn.btn-dark {
  color: #f5f5f5;
  background-color: #222222;
}
.btn.btn-dark:hover {
  background-color: #555555;
}
.btn.btn-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
}
.btn.btn-gray {
  color: #222222;
  background-color: #e1e1e1;
}
.btn.btn-gray:hover {
  background-color: #f5f5f5;
  border-color: #222222;
}
.btn.btn-gray:focus {
  box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
}
.btn i.material-icons {
  line-height: 1px;
  vertical-align: middle;
}

.btn-square {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

button:disabled,
button[disabled],
input[disabled] {
  background-color: #cdcdcd !important;
  color: #ffffff !important;
  border-color: #cdcdcd !important;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.books-grid .flex {
  flex-direction: row;
  flex-wrap: wrap;
}
.books-grid .flex .item {
  width: 33.333%;
  padding: 10px;
}
.books-grid .flex .item .cover {
  height: 350px;
  position: relative;
  overflow: hidden;
}
.books-grid .flex .item .cover a img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 102%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.books-grid .flex .item .cover a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #004eff;
  opacity: 0.4;
  z-index: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.books-grid .flex .item .cover a:hover img {
  filter: grayscale(100%);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.books-grid .flex .item .cover a:hover::before {
  z-index: 1;
}
.books-grid .flex .item .content {
  position: relative;
  padding: 10px 5px;
  max-height: 130px;
  overflow: hidden;
}
.books-grid .flex .item .content .title {
  color: #222222;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
.books-grid .flex .item .content .author {
  color: #222222;
  font-size: 1rem;
  text-align: center;
  margin: 2px 0 6px;
}
.books-grid .flex .item .content .description {
  color: #a5a5a5;
  font-size: 0.9rem;
  text-align: justify;
}
.books-grid .flex .item .content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 23px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 50%, white 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.7)), color-stop(100%, white));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 50%, white 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 50%, white 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 50%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 50%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#ffffff", GradientType=0 );
}

.book-list-grid .item {
  display: flex;
  flex-flow: row;
  width: 100%;
  background: #f5f5f5;
  margin: 10px 0;
}
.book-list-grid .item.wide .cover {
  max-width: 90px;
}
.book-list-grid .item.wide .content {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  align-self: center;
}
.book-list-grid .item.wide .action {
  width: 10%;
}
.book-list-grid .item .cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.book-list-grid .item .cover img {
  display: block;
  max-width: 100%;
}
.book-list-grid .item .content {
  background: transparent !important;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  align-self: center;
}
.book-list-grid .item .content .heading {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 10px 0;
  color: #222222;
}
.book-list-grid .item .content .heading:hover {
  color: #555555;
}
.book-list-grid .item .content .description {
  color: #737373;
  font-size: 0.9rem;
}
.book-list-grid .item .action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.book-list-grid .item .action .delete {
  color: #e22c3d;
}
.book-list-grid .item .action .delete:hover {
  color: #ee868f;
}
.book-list-grid .item .heading, .book-list-grid .item .delete {
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}
.book-list-grid .unavailable {
  position: relative;
}
.book-list-grid .unavailable .item {
  filter: grayscale(100%);
  opacity: 0.1;
}
.book-list-grid .unavailable .unavailable-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  font-weight: 600;
  color: #e22c3d;
  z-index: 1;
}
.book-list-grid .unavailable .unavailable-info i {
  vertical-align: sub;
  font-size: 2rem;
}

.box {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 20px #00000010;
  padding: 30px;
  margin: 0 auto;
}
.box.margins {
  margin-top: 120px;
  margin-bottom: 120px;
}

.book-first-section-grid {
  display: flex;
}
.book-first-section-grid .image {
  width: 30%;
}
.book-first-section-grid .image img {
  width: 100%;
}
.book-first-section-grid .content {
  width: 70%;
}
.book-first-section-grid .content h1 {
  margin-top: 0;
}

@media (max-width: 992px) {
  .books-grid {
    display: none;
  }
  .books-grid .flex .item {
    width: 50%;
  }
}
@media (max-width: 762px) {
  .book-list-grid .cover {
    display: none;
  }
  .book-list-grid .content {
    width: 90%;
  }

  .books-grid .flex .item {
    width: 100%;
  }
}
.active-dialog {
  overflow: hidden;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000cc;
  opacity: 1;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
  z-index: 999;
}
.dialog .container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 600px;
  margin: 0;
  padding: 15px;
  background: transparent;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation-name: dialog-animation;
  animation-duration: 900ms;
}
.dialog .container .content {
  background: #ffffff;
  padding: 20px;
}
.dialog .container .content .heading {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.dialog .container .content .heading .title {
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
}
.dialog .container .content .heading .close i {
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}
.dialog .container .content .heading .close i:hover {
  color: #e22c3d;
}
.dialog .container .next-step {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-top: 15px;
}

.taste {
  position: fixed;
  display: block;
  top: 15px;
  left: 50%;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px #00000010;
  padding: 5px 10px 5px 10px;
  transform: translate(-50%, 0%);
  animation: 600ms ease-out 0s 1 slideInFromLeft;
  opacity: 1;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.taste.success {
  background-color: #48b750;
}
.taste.danger {
  background-color: #e22c3d;
}
.taste.info {
  background-color: #004eff;
}
.taste.warning {
  background-color: #f2911c;
}
.taste i {
  font-size: 1.2rem;
  vertical-align: sub;
}
.taste span {
  font-size: 0.9rem !important;
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translate(-50%, -200%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
}

.hide {
  opacity: 0;
}

.message-bar {
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: start;
  padding: 10px 20px;
  color: #ffffff;
}
.message-bar i {
  margin-right: 10px;
  width: 25px;
}
.message-bar p {
  font-weight: 600;
  margin: 0;
}
.message-bar .right {
  position: absolute;
  right: 5px;
}

@keyframes dialog-animation {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, calc(-50% - 50px));
    -moz-transform: translate(-50%, calc(-50% - 50px));
    -ms-transform: translate(-50%, calc(-50% - 50px));
    -o-transform: translate(-50%, calc(-50% - 50px));
    transform: translate(-50%, calc(-50% - 50px));
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.pagination {
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}
.pagination li {
  width: 30px;
  height: 30px;
  text-align: center;
  background: #ebebeb;
  border-radius: 50px;
  margin: 0 5px;
  -webkit-transition: color, background-color 300ms;
  -moz-transition: color, background-color 300ms;
  -ms-transition: color, background-color 300ms;
  -o-transition: color, background-color 300ms;
  transition: color, background-color 300ms;
}
.pagination li a {
  display: block;
  width: 30px;
  height: 30px;
  color: #222222;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 7px;
}
.pagination li:hover {
  background-color: #d7d7d7;
}
.pagination li.active, .pagination li.active:hover {
  background-color: #004eff;
}
.pagination li.active a, .pagination li.active:hover a {
  color: #ffffff;
}
.pagination li.active:hover {
  background-color: #003ecc;
}
.pagination li.disabled {
  opacity: 0.5;
}
.pagination li.disabled a {
  color: #919191;
  cursor: default;
}
.pagination li.disabled:hover {
  background: #ebebeb;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}
table .vat {
  vertical-align: top;
}
table .vam {
  vertical-align: middle;
}
table .vab {
  vertical-align: bottom;
}
table th, table td {
  padding: 10px 15px;
}
table thead {
  background: #222222;
}
table thead tr {
  padding: 20px;
}
table thead tr th {
  font-weight: 200;
  text-align: left;
  font-size: 0.9rem;
  color: #ffffff;
}
table tbody {
  background: #f5f5f5;
}
table tbody tr {
  border-bottom: 1px solid #ebebeb;
}
table td .action {
  display: flex;
  justify-content: center;
  align-items: center;
}
table td .action i {
  font-size: 1.2rem;
  margin: 5px;
}
table td .action .edit {
  color: #004eff;
}
table td .action .edit:hover {
  opacity: 0.7;
}
table td .action .delete {
  color: #e22c3d;
}
table td .action .delete:hover {
  opacity: 0.7;
}
table img.cover {
  max-width: 70px;
}

.badge {
  position: relative;
  display: inline-block;
  color: #ffffff;
  padding: 4px 8px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 5px;
}
.badge.success {
  background: #48b750;
}
.badge.danger {
  background: #e22c3d;
}
.badge.info {
  background: #004eff;
}
.badge.warning {
  background: #f2911c;
}
.badge.gray {
  background: #cdcdcd;
}

.badge-counter {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: 600;
  margin-left: 8px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  padding: 10px;
  background: #004eff;
}
.badge-counter.empty {
  background: #222222;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  color: #222222;
  background-color: #f5f5f5;
  overflow-y: scroll;
}
body.body-simplify {
  height: 100vh;
}

/* Container */
.container,
.container-narrow,
.container-wide {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  max-width: 1200px;
}

.container-narrow {
  max-width: 800px;
}

.container-wide {
  max-width: 100%;
}

.page-content-holder,
.page-content-holder-wide {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-content-holder {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  grid-gap: 20px;
}

.page-content-holder-wide {
  width: 100%;
}

.content-holder {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  overflow: hidden;
}

.content {
  padding: 20px;
}

.segment .segment-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.segment .segment-row p {
  margin: 0;
}

.finder {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
}
.finder .form-group {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
}
.finder .form-group input[type=text] {
  background-color: transparent;
  border: none;
  height: 50px;
  padding-left: 40px;
  font-size: 1rem;
}
.finder .form-group i {
  color: #cdcdcd;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}
.finder .form-group input:focus + i {
  color: #004eff;
}
.finder input[type=submit] {
  border-radius: 0;
}

/* Media */

/*# sourceMappingURL=master.css.map */
